$gray-lightest:               hsl(0, 0%, 90%);
$border-color:                hsl(0, 0%, 60%) !default;

$line-height:                 1.375em !default;

$border-radius:               3px !default;

.field-select {

  $block-name:                &; // #{$block-name}__element

  display: block;
  //margin-bottom: ($line-height / 2);

  &__name {
    @include field-name;
  }

  &__input-wrap {
    display: block;
  }

  &__select {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    line-height: $line-height;
    padding: $field-padding-vertical $field-padding-horizontal;
    font-size: 1em;
    font-family: inherit;
    color: $white;
    border: 1px solid transparent;
    border-radius: $border-radius;
    appearance: none;
    background-color: rgba($text-muted, 0.25);
    background-image: svg-load('../blocks/field-select/bg-img/select-down.svg', fill=$white);
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 12px 7px;

    &[multiple] {
      background-image: none;
      min-height: 5.2em;
    }

    &::-ms-expand {
      display: none;
    }

    &:active,
    &:focus {
      @include field-focus;
    }

    &[disabled],
    &[readonly] {
      cursor: default;
      color: $text-muted;
      background-color: rgba($text-muted, 0.1);
    }
  }

  &__help-text {
    @include field-help-text;
  }
}
