.main-nav {

  $block-name:                &; // #{$block-name}__element

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;

    @media (min-width: $screen-md) {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
    }
  }

  &__item {
    position: relative;

    & + & {
      margin-left: 16px;
    }

    &.active {

      & > #{$block-name}__link {
        color: $main-color;
        pointer-events: none;
      }
    }
  }

  &__link {
    display: block;
    padding: 0 0.5em;
    font-weight: 500;
    text-decoration: none;
    color: $secondary-color;
    background-color: transparent;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $main-color;
    }
  }

  &--header {

    @media (max-width: $menu-desktop-width - 1) {
      display: none;
    }

    #{$block-name}__link {

      @media (min-width: $menu-desktop-width) {
        color: $white;

        &:hover,
        &:focus {
          color: $main-color;
        }
      }
    }
  }

  &--mob-menu {

    #{$block-name}__list {

      @media (min-width: $screen-md) {
        justify-content: center;
      }
    }

    #{$block-name}__item {

      &:not(:last-child) {
        margin-bottom: 24px;

        @media (min-width: $screen-md) {
          margin-bottom: 0;
        }
      }
    }

    #{$block-name}__link {
      color: $white;

      &:hover,
      &:focus {
        color: $main-color;
      }
    }
  }
}
