.faq {
  margin-top: 32px;

  $block-name:                &; // #{$block-name}__element

  &__title {
    margin-top: 0;
    text-transform: uppercase;
  }

  &__intro {
    margin-bottom: 16px;
  }

  &__item {

    & + & {
      border-top: 1px solid $border-color;
    }
  }

  &__item-title {
    margin: 0;
  }

  &__btn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 16px 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-align: initial;
    background-color: $white;
    border: none;
    cursor: pointer;

    &[aria-expanded=true] > #{$block-name}__btn-icon {

      span {

        &::after {
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  &__btn-text {
    flex: 1 0;
    flex-basis: auto;
  }

  &__btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0;
    flex-basis: 24px;
    width: 24px;
    height: 24px;
    margin-left: 32px;

    span {
      position: relative;
      width: 20px;
      height: 2px;
      background-color: $main-color;

      &::after {
        display: block;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-90deg);
        width: 20px;
        height: 2px;
        background-color: inherit;
        transition: transform $transition-time ease-out;
      }
    }
  }

  &__item-body {
    padding-bottom: 12px;

    p {
      margin: 0.5em 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
