.index-info-card {
  height: 100%;

  $block-name:                &; // #{$block-name}__element

  &__img {
    margin-bottom: 24px;

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  &__title {
    text-decoration: none !important;
    color: inherit;
  }

  &__descr {
    margin: 12px 0 !important;
    font-size: $font-size-sm;

    &:empty {
      display: none;
    }
  }
}
