.btn {

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: $field-padding-vertical  $field-padding-horizontal * 2;
  vertical-align: middle;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  line-height: $line-height;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  color: $white;
  border-radius: $border-radius;
  border: 1px solid transparent;
  background-color: $main-color;
  //background-image: none;
  user-select: none;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $white;
    text-decoration: none;
    box-shadow: 0 0 32px -6px rgba($main-color, 0.8);
  }

  &:active,
  &:focus {
    // @include field-focus;
  }

  &--disabled,
  &:disabled {
    // opacity: $opacity;
    cursor: not-allowed;
    color: $text-color;
    background-color: $text-muted;
    box-shadow: none;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  // &__icon {
  //   display: inline-block;
  //   vertical-align: middle;
  // }



  // &--main {
  //   color: #fff;
  //   background-color: $color-main;
  //   border: 1px solid $color-main;

  //   &:hover,
  //   &:focus {
  //     color: #fff;
  //     background-color: darken($color-main, 10%);
  //     border-color: darken($color-main, 12%);
  //   }

  //   &--disabled,
  //   &:disabled {
  //     color: #fff;
  //     background-color: $color-main;
  //     border-color: $color-main;
  //   }
  // }
}
