.article {

  $block-name:                &; // #{$block-name}__element

  &__content {
    padding-top: 24px;
    padding-bottom: 64px;

    @media (min-width: $screen-md) {
      padding-top: 32px;
    }

    @media (min-width: $screen-xl) {
      padding-bottom: 92px;
    }

    img {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      max-width: 645px;
    }
  }

  &__col {
    @include col(xs, 12, $grid-columns, 30px);
    @include col(md, 12);
    @include col(lg, 10);
    @include col(xl, 9);
  }
}
