.logo {

  $block-name:                &; // #{$block-name}__element

  display: inline-block;
  vertical-align: top;
  white-space: nowrap;

  &:hover,
  &:focus {

    svg {

      @media (min-width: $screen-xl) {
        width: 203px;
        height: 58px;
      }

      .text {
        fill: $main-color;
      }
    }
  }

  svg > .text {
    transition: fill $transition-time ease;
  }

  &--header {


    svg {
      width: 164px;
      height: 48px;

      //.tp {}

      .text {
        fill: $text-color;
      }
    }
  }

  &--footer {

    svg {
      width: 160px;
      height: 46px;

      .text {
        fill: $white;
      }
    }
  }
}
