.logo {

  $block-name:                &; // #{$block-name}__element

  display: inline-flex;
  align-items: center;

  &:hover,
  &:focus {

    svg {

      .text {
        fill: $main-color;
      }
    }
  }

  svg {

    @media (min-width: $screen-xl) {
      width: 203px;
      height: 58px;
    }

    & > .text {
      transition: fill $transition-time ease;
    }
  }

  &--header {

    svg {
      width: 164px;
      height: 48px;

      .text {
        fill: $text-color;

        @media (min-width: $screen-xl) {
          fill: $white;
        }
      }
    }
  }

  &--noindex {

    svg {

      .text {
        fill: $text-color;

        @media (min-width: $screen-xl) {
          fill: $text-color;
        }
      }
    }
  }

  &--footer {

    svg {
      width: 160px;
      height: 46px;

      .text {
        fill: $white;
      }
    }
  }
}
