.service-card {
  position: relative;
  display: block;
  padding: 24px 16px;
  height: 100%;
  text-decoration: none;
  color: $text-color;
  background-color: $white;

  @media (min-width: $screen-md) {
    padding: 32px 24px 24px;
  }

  &[data-tag="Новое"],
  &[data-tag="Акция"] {

    &::after {
      display: block;
      content: attr(data-tag);
      position: absolute;
      top: 34px;
      right: 16px;
      z-index: 10;
      min-width: 60px;
      height: 28px;
      padding: 0 10px;
      font-size: $font-size-sm;
      line-height: 28px;
      text-align: center;
      color: $white;
      border-radius: $border-radius-xl * 4;
      background-color: $secondary-color;

      @media (min-width: $screen-md) {
        top: 42px;
        right: 24px;
      }
    }
  }

  $block-name:                &; // #{$block-name}__element

  &:hover,
  &:focus {
    text-decoration: none;
    color: $white;
    background-color: $main-color;

    #{$block-name}__icon {
      color: $main-color;
      background-color: $white;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    margin-bottom: 24px;
    color: $white;
    border-radius: $border-radius-xl;
    background-color: $main-color;
    transition: all $transition-time ease;
  }
}
